*{
    margin: 0;
    padding: 0;
box-sizing: border-box;
}
p{
    border: 2px dashed red;
  margin: 1.5em;
margin-bottom: 2em;
margin-right: 2em;
margin-left: 2em;
  padding: 1.5em;  
}
h1{
    margin: 1.5em;
    margin-left: 2em;
    margin-right: 2em;
    margin-bottom: 2em;
    padding: 1.5em;
    font-size: 1.5em;
    border: 2px dashed red;
}

